<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Page Title</title>
  </head>
  <body>
    {% include 'global/nav.twig' %}

    <main style="margin-left: 200px; padding: 2rem">
      <h1>Page Title</h1>
      <p>This is the [page purpose] page.</p>
    </main>

    {% include 'global/footer.twig' %}
  </body>
</html>
